/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  padding-right: 2rem;
  background-color: #cfcfcf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.logo img {
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 2rem;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  box-shadow: 1px 0.5px 1px 1px black;
  text-shadow: 0.5px 0.25 rgb(105, 103, 103);
}

/* Estilos para la lista de planes de servicio */
.plan-list {
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}

main h1 {
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 20px;
  color: #00a7c1;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.cta-button {
  display: block;
  background-color: #00a7c1;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #333333;
}
.boton-registro,
.boton-inicio-sesion {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.boton-registro {
  background-color: #007bff;
  color: #fff;
}

.boton-inicio-sesion {
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #333;
}

.boton-registro:hover {
  background-color: #0069d9;
}

.boton-inicio-sesion:hover {
  background-color: #333;
  color: #fff;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
}
