/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  background-color: #cfcfcf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.logo img {
  width: 30%;
}

header a {
  color: #292828;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  display: block;
  padding: 10px;
}

nav a:hover {
  box-shadow: 1px 0.5px 1px 1px black;
  text-shadow: 0.5px 0.25 rgb(105, 103, 103);
}

.servicios {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

.servicios h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.servicios ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.servicios li {
  margin-bottom: 50px;
}

.servicios h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.servicios p {
  margin-bottom: 10px;
}

.boton-cta {
  background-color: #498fec;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton-cta:hover {
  background-color: #e67e22;
}

.boton-inicio-sesion {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.boton-inicio-sesion {
  background-color: rgb(0, 123, 255);
  color: #ffffff;
  border: 1px solid #333;
}

.boton-inicio-sesion:hover {
  background-color: #333;
  color: #fff;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  font-size: 0.875rem;
}
